<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">

    <title>Show Page</title>
</head>

<body>
    <div class="container">
        <a class="btn btn-warning float-end mt-2" href="/books">Dashboard</a>

        <h1>Update Book no. <span class="text-danger">{{ book.id }}</span></h1>

        <form action="/update_book/{{ book.id }}" method="post">

            <label for="title">Title</label>
            <input type="text" name="title" value="{{ book.title }}">

            <label for="year">Year</label>
            <input type="number" name="year" value="{{ book.year }}">

            <label for="genre">Genre</label>
            <input type="text" name="genre" value="{{ book.genre }}">

            <label for=" author"> Select Author</label>
            <select name="author_id">

                {% for i in authors %}
                <option value="{{ i.id }}">{{i.first_name}} {{i.last_name}}</option>
                {% endfor %}

            </select>

            <label for="description">Description</label>
            <textarea name="description"> {{ book.title }}</textarea>



            <input class="btn btn-primary" type="submit" value="Update">
        </form>


</body>

</html>